trigger: none

resources:
  repositories:
    - repository: PublishTemplate
      name: swts/servicewell.fhir.landingzone
      type: git
      ref: refs/heads/task/el/build-agent
      endpoint: cross-project-connection

pool:
  name: 'Implementation Guide Build Pool'

jobs:
  - job: SetupPublish
    steps:
      - checkout: self
        persistCredentials: true

      - script: |
          ORG=$(yq '.id' /azp/_work/1/s/sushi-config.yaml | cut -d'.' -f1)
          echo "##vso[task.setvariable variable=org]$ORG"
        displayName: Detect organization from sushi-config

      - template: ".azure-pipelines/publish-template/ig-publish-template.yaml@PublishTemplate"
        parameters:
          organization: $(org)